<li>

    {{burger_name}}

    <button class="change-devour" data-id="{{this.id}}" data-newdevour="{{devour}}">
        {{#if devour}}DON'T DEVOUR!{{else}}DEVOUR{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

</li>